disulfinder/webservice/disulfinder_rest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:description xmlns="http://rostlab.org/disulfinder/webservice" targetNamespace="http://rostlab.org/disulfinder/webservice" xmlns:wsdl="http://www.w3.org/ns/wsdl" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:input="http://rostlab.org/disulfinder/input" xmlns:output="http://rostlab.org/disulfinder/output">

	<wsdl:documentation>This document describes the Disulfinder Web service. 
Disulfinder predicts cystein disulfide bonding state and connectivity.</wsdl:documentation>


	<wsdl:types>

		<xs:schema targetNamespace="http://rostlab.org/freecontact/webservice">

			<xs:import namespace="http://rostlab.org/freecontact/input" schemaLocation="http://rostlab.org/~lkajan/freecontact_input.xsd"/>
			<xs:import namespace="http://rostlab.org/freecontact/output" schemaLocation="http://rostlab.org/~lkajan/freecontact_output.xsd"/>

			<!-- Elements for Web service interface operations -->

			<xs:element name="getContactsRequest" type="GetContactsRequest"/>
			<xs:complexType name="GetContactsRequest">
				<xs:sequence>
					<!-- elements for parameters -->
					<xs:element name="parprof" type="xs:string" sawsdl:modelReference="http://edamontology.org/data_2527">
						<xs:annotation>
							<xs:documentation>TODO: Parameter profile, refine to an enum.  [http://edamontology.org/data_2527 Parameter]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- element for input -->
					<xs:element ref="input:alignment"/>
				</xs:sequence>
			</xs:complexType>

			<xs:element name="getContactsResponse" type="GetContactsResponse"/>
			<xs:complexType name="GetContactsResponse">
				<xs:sequence>
					<!-- element for output -->
					<xs:element ref="output:contactMap"/>
					<!--<xs:element name="stderr" type="xs:string"/>TODO: copy standard error here (warnings; errors should go to an error element)-->
				</xs:sequence>
			</xs:complexType>

			<xs:element name="getVersionResponse" type="xs:string" sawsdl:modelReference="http://edamontology.org/data_1671"/><!--Tool version information-->

			<xs:element name="freeContactError" type="xs:string" sawsdl:modelReference="http://edamontology.org/data_2192"/><!--Data on an error generated by computer system or tool.-->

		</xs:schema>

	</wsdl:types>



	<wsdl:interface name="FreeContactWebAPI" sawsdl:modelReference="http://edamontology.org/topic_0172 http://edamontology.org/topic_0639 http://edamontology.org/operation_0272">

		<wsdl:documentation>This document describes the FreeContact Web service. Additional application-level requirements for use of this service -- beyond what WSDL 2.0 is able to describe -- are available on the UNIX manual page freecontact(1).
FreeContact estimates proximity between residues of a polypeptide ('contacts', i.e. with distance &lt; 8Å). [http://edamontology.org/topic_0172 Protein structure prediction] [http://edamontology.org/topic_0639 Protein sequence analysis] [http://edamontology.org/operation_0272 Residue interaction prediction]</wsdl:documentation>

		<wsdl:fault name="freeContactFault" element="freeContactError"/>

		<wsdl:operation name="getContacts" pattern="http://www.w3.org/ns/wsdl/in-out" wsdlx:safe="true" sawsdl:modelReference="http://edamontology.org/operation_0272">
		&gt;
			<wsdl:documentation>Get predicted protein contact map. [http://edamontology.org/operation_0272 Residue interaction prediction]</wsdl:documentation>
			<wsdl:input element="getContactsRequest"/>
			<wsdl:output element="getContactsResponse"/>
			<wsdl:outfault ref="freeContactFault"/>
		</wsdl:operation>

		<wsdl:operation name="getVersion" pattern="http://www.w3.org/ns/wsdl/in-out" wsdlx:safe="true">
			<wsdl:documentation>Get method version.</wsdl:documentation>
			<wsdl:input element="#none"/>
			<wsdl:output element="getVersionResponse"/>
			<wsdl:outfault ref="freeContactFault"/>
		</wsdl:operation>

	</wsdl:interface>



	<wsdl:binding name="FreeContactHTTPBinding" interface="FreeContactWebAPI" type="http://www.w3.org/ns/wsdl/http" whttp:methodDefault="GET">
		<wsdl:documentation>The RESTful HTTP binding for the FreeContact service.</wsdl:documentation>

		<wsdl:fault ref="freeContactFault" whttp:code="500"/><!--Internal Server Error-->

		<!-- Serialization Format of Instance Data [1]
			 [1] http://www.w3.org/TR/2007/REC-wsdl20-adjuncts-20070626/#_http_serialization
			 
			 Default input and output serialization format [2]
			 [2] http://www.w3.org/TR/2007/REC-wsdl20-adjuncts-20070626/#_http_binding_default_rule_dsf -->
		<wsdl:operation ref="getContacts" whttp:location="getContacts" whttp:method="POST"/>
		<!-- http://www.w3.org/TR/wsdl20-primer/#more-bindings-http Trailing / in {} means pass the rest of the message in the HTTP message body. But see http://tech.groups.yahoo.com/group/rest-discuss/message/9962. Message body with GET is convoluted, let's use POST for the message with large alignment. -->
		<!-- http://rostlab.org/~lkajan/FreeContactREST/getContacts -->
		<wsdl:operation ref="getVersion" whttp:location="getVersion" whttp:method="GET"/>
		<!-- http://rostlab.org/~lkajan/FreeContactREST/getVersion -->
	</wsdl:binding>



	<wsdl:service name="FreeContactREST" interface="FreeContactWebAPI">
		<wsdl:documentation>FreeContact protein contact prediction service.</wsdl:documentation>
		<wsdl:endpoint name="FreeContactHTTPEndpoint" binding="FreeContactHTTPBinding" address="http://rostlab.org/~lkajan/FreeContactREST"/>
	</wsdl:service>

</wsdl:description>