disulfinder/webservice/disulfinder_rest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:description xmlns="http://rostlab.org/disulfinder/webservice" targetNamespace="http://rostlab.org/disulfinder/webservice" xmlns:wsdl="http://www.w3.org/ns/wsdl" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:input="http://rostlab.org/disulfinder/input" xmlns:output="http://rostlab.org/disulfinder/output">

	<wsdl:documentation>This document describes the Disulfinder Web service. 
Disulfinder predicts cystein disulfide bonding state and connectivity.</wsdl:documentation>


	<wsdl:types>

		<xs:schema targetNamespace="http://rostlab.org/disulfinder/webservice">

			<xs:import namespace="http://rostlab.org/disulfinder/output" schemaLocation="http://i12r-tbl.informatik.tu-muenchen.de/~alex/disulfinder_output.xsd"/>

			<!-- Elements for Web service interface operations -->

			<xs:element name="getDisulfinderRequest" type="GetDisulfinderRequest"/>
			<xs:complexType name="GetDisulfinderRequest">
				<xs:sequence>
					<!-- elements for parameters -->
					<xs:element name="parprof" type="xs:string" sawsdl:modelReference="http://edamontology.org/data_2527">
						<xs:annotation>
							<xs:documentation>TODO: Parameter profile, refine to an enum.  [http://edamontology.org/data_2527 Parameter]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- element for input -->
					<xs:element ref="input:sequence"/>
				</xs:sequence>
			</xs:complexType>

			<xs:element name="getDisulfinderResponse" type="GetDisulfinderResponse"/>
			<xs:complexType name="GetDisulfinderResponse">
				<xs:sequence>
					<!-- element for output -->
					<xs:element ref="output:DisulfideBondingState"/>
					<!--<xs:element name="stderr" type="xs:string"/>TODO: copy standard error here (warnings; errors should go to an error element)-->
				</xs:sequence>
			</xs:complexType>

			<xs:element name="getVersionResponse" type="xs:string" sawsdl:modelReference="http://edamontology.org/data_1671"/><!--Tool version information-->

			<xs:element name="DisulfinderError" type="xs:string" sawsdl:modelReference="http://edamontology.org/data_2192"/><!--Data on an error generated by computer system or tool.-->

		</xs:schema>

	</wsdl:types>



	<wsdl:interface name="DisulfinderWebAPI" sawsdl:modelReference="http://edamontology.org/topic_0601 http://edamontology.org/topic_2814 http://edamontology.org/operation_1850">

		<wsdl:documentation>This document describes the Disulfinder Web service. 
Disulfinder predicts cystein disulfide bonding state and connectivity. [http://edamontology.org/topic_0601 Protein post-translational modification] [http://edamontology.org/topic_2814 Protein structure analysis] [http://edamontology.org/operation_1850  Protein cysteine and disulfide bond assignment] </wsdl:documentation>

		<wsdl:fault name="disulfinderFault" element="disulfinderError"/>

		<wsdl:operation name="getDsBonds" pattern="http://www.w3.org/ns/wsdl/in-out" wsdlx:safe="true" sawsdl:modelReference="http://edamontology.org/operation_1850">
		&gt;
			<wsdl:documentation>Get cystein binding states and connection map [http://edamontology.org/operation_1850  Protein cysteine and disulfide bond assignment]</wsdl:documentation>
			<wsdl:input element="getDisulfinderRequest"/>
			<wsdl:output element="getDisulfinderResponse"/>
			<wsdl:outfault ref="disulfinderFault"/>
		</wsdl:operation>

		<wsdl:operation name="getVersion" pattern="http://www.w3.org/ns/wsdl/in-out" wsdlx:safe="true">
			<wsdl:documentation>Get method version.</wsdl:documentation>
			<wsdl:input element="#none"/>
			<wsdl:output element="getVersionResponse"/>
			<wsdl:outfault ref="disulfinderFault"/>
		</wsdl:operation>

	</wsdl:interface>



	<wsdl:binding name="DisulfinderHTTPBinding" interface="DisulfinderWebAPI" type="http://www.w3.org/ns/wsdl/http" whttp:methodDefault="GET">
		<wsdl:documentation>The RESTful HTTP binding for the Disulfinder service.</wsdl:documentation>

		<wsdl:fault ref="disulfinderFault" whttp:code="500"/><!--Internal Server Error-->

		<!-- Serialization Format of Instance Data [1]
			 [1] http://www.w3.org/TR/2007/REC-wsdl20-adjuncts-20070626/#_http_serialization
			 
			 Default input and output serialization format [2]
			 [2] http://www.w3.org/TR/2007/REC-wsdl20-adjuncts-20070626/#_http_binding_default_rule_dsf -->
		<wsdl:operation ref="getDsBonds" whttp:location="getDsBonds" whttp:method="POST"/>
		<!-- http://www.w3.org/TR/wsdl20-primer/#more-bindings-http Trailing / in {} means pass the rest of the message in the HTTP message body. But see http://tech.groups.yahoo.com/group/rest-discuss/message/9962. Message body with GET is convoluted, let's use POST for the message with large alignment. -->
		<!-- http://i12r-tbl.informatik.tu-muenchen.de/~alex/disulfinder/REST/getDsBonds -->
		<wsdl:operation ref="getVersion" whttp:location="getVersion" whttp:method="GET"/>
		<!-- http://i12r-tbl.informatik.tu-muenchen.de/~alex/disulfinder/REST/getVersion -->
	</wsdl:binding>



	<wsdl:service name="DisulfinderREST" interface="DisulfinderWebAPI">
		<wsdl:documentation>Disulfinder cystein disulfide bonding state prediction service.</wsdl:documentation>
		<wsdl:endpoint name="DisulfinderHTTPEndpoint" binding="DisulfinderHTTPBinding" address="http://i12r-tbl.informatik.tu-muenchen.de/~alex/DisulfinderREST"/>
	</wsdl:service>

</wsdl:description>